body{
	/*background: #000;*/
	text-align: center;

	animation: pulse 5s infinite;
}
main{
	height: 90vh;
}

.section{
	width: 100%;
}
h1{
	color: #fff;
	font-size: 28px;
	font-family: 'Merriweather', sans-serif;
}
.main__blockImg{
	width: 50px;
	padding: 10px 10px;

}
.main__blockImg:hover{
	-webkit-transform: scale(1.5);
}
p{
	color: #000;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
}
a{
	color: #0000CD;
}
@media (max-width: 768px){
	body{
		max-width: 100%;

	}
	.img{
		max-height: 150px;
		min-height: 1vh;
	}
}
@media (max-width: 300px){
	.img{
		max-height: 100px;
		min-height: 1vh;
	}
	h1{
		font-size: 20px;
	}

	.main__blockImg{
		max-width: 35px;
	}
}
.img{
	height: 40vh;
	margin-top: 20vh;
	border-radius: 50%;
	animation: 
    pulse 5s ease infinite alternate, 
    nudge 5s linear infinite alternate;

}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 0);
  }
  
  80% {
    transform: translate(-70px, 0);
  }
}
